<div class="body">
  <h2>Add new product</h2>
  <form #addProductForm="ngForm">
    <div class="form-group" >
      <label for="exampleInputEmail1">Product name</label>
      <input required name="newProduct" ngModel #newProduct="ngModel" type="text" class="form-control"   placeholder="E.g Laptop">
      <small id="emailHelp" class="form-text text-muted">Write the exact name of the product.</small>
      <div class="alert alert-danger" *ngIf=" newProduct.invalid &&newProduct.touched">
        This field is required
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Price</label>
      <input required name="priceProduct" ngModel #priceProduct="ngModel" type="number" class="form-control" id="exampleInputPassword1" placeholder="$0.00">
    </div>
    <div class="alert alert-danger" *ngIf=" priceProduct.invalid && priceProduct.touched">
      This field is required
    </div>

    <div class="form-group">
      <label for="exampleFormControlFile1">Upload the photo of your product please</label>
      <input required ngModel name="uploadPhoto" #uploadPhoto="ngModel" type="file" >
    </div>
    <div class="alert alert-danger" *ngIf="uploadPhoto.invalid && uploadPhoto.touched">
      You must select a photo
    </div>
    <button type="submit" class="btn btn-success" [disabled]="addProductForm.invalid" (click)="AddNewProduct(addProductForm)" >Add</button>

  </form>
</div>
